[package]
name = "blaze-ssl-async"
version = "0.1.2"
edition = "2021"
description = "Legacy SSLv3 bare minimum implementation for gosredirector.ea.com async version"
license = "MIT"
authors = ["Jacobtread <jacobtread@gmail.com>"]
repository = "https://github.com/jacobtread/blaze-ssl"
readme = "README.md"
keywords = ["EA", "ssl", "sslv3"]
categories = ["network-programming", "parser-implementations"]

[badges]
maintenance = { status = "experimental" }

[dependencies]
getrandom = "0.2"
rsa = "0.7.0"
rust-crypto = "^0.2"
lazy_static = "1.4.0"
x509-cert = "0.1.0"
der = "0.6.0"
pkcs1 = "0.4.1"
pem = "1"
tokio = { version = "1", features = ["io-util"] }


[dev-dependencies]
tokio = { version = "1", features = ["full"] }
